*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(255, 201, 71);
    margin: 0;
    padding: 0;
}

/* MOBILE VIEW'S PROPERTIES */

/* NAVIGATION BAR */
nav {
    background: rgb(24, 90, 219);
    box-shadow: 0 0 10px rgb(49, 49, 49);
}

.logo-asso {
    width: 50px;
    height: auto;
    border-radius: 100%;
    margin: 10px;
}

.enter {
    border: 1px solid rgb(255, 201, 71);
    color: rgb(255, 201, 71);
}

/* HEADER */
header {
    position: relative;
    top: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-image: url("assets/images/web-site/header-picture.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgb(10, 25, 49);
}

h1 {
    font-size: 2.3rem;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(255, 201, 71);
    padding-top: 10px;
}

/* MAIN BLOCK OF PAGES */
main {
    position: relative;
    top: 98px;
}

.guide,
.index,
.events,
.albums,
.utilities {
    display: flex;
    justify-content: center;
}

span {
    font-weight: bold;
}

h2 {
    font-size: 1.2rem;
}

h2,
h3 {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.card-text {
    text-align: justify;
}

main .index section .card-text a,
main .guide article .card-text a,
main .events article .card-text a {
    color: rgb(24, 90, 219);
    text-decoration: none;
}

main .index section .card-text a:hover,
main .guide article .card-text a:hover,
main .events article .card-text a:hover {
    text-decoration: underline;
}

.wrapperButton {
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* index page */
.indexMailButton {
    background-color: rgb(24, 90, 219);
    color: rgb(255, 255, 255);
}

.indexMailButton:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(10, 25, 49);
}

.indexButton {
    background-color: rgb(255, 201, 71);
    font-weight: bold;
}

.indexButton:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgb(10, 25, 49);
}

.hourly {
    font-weight: bold;
}

.poi {
    color: rgb(255, 68, 0);
}

.level1 {
    color: rgb(255, 201, 71);
}

.level2 {
    color: rgb(0, 128, 0);
}

.level3 {
    color: rgb(0, 0, 255);
}

.weatherwidget-io {
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(10, 25, 49);
}

.hikers1,
.hikers2,
.boat {
    display: block;
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(10, 25, 49);
}

/* events page */
.events img {
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(10, 25, 49);
}

/* guide page */
.compass_wrap img {
    float: left;
    width: 125px;
    height: auto;
    margin-right: 15px;
}

.guideButton {
    color: rgb(255, 201, 71);
    background-color: rgb(24, 90, 219);
}

.guideButton:hover {
    cursor: pointer;
    color: rgb(255, 201, 71);
    box-shadow: 0 0 10px rgb(10, 25, 49);
}

/* utilities page */
.utilities article h2 {
    text-decoration: underline;
}

.utilityButton {
    background-color: rgb(255, 201, 71);
    color: rgb(10, 25, 49);
}

.utilityButton:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(10, 25, 49)
}

.utilities img {
    height: 225px;
}

/* FOOTER */
footer {
    position: relative;
    top: 110px;
    height: 75px;
    background-color: rgb(10, 25, 49);
    font-size: 0.8rem;
}

footer>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer>div>a,
footer>div>i {
    color: rgb(239, 239, 239);
}

/* PROPERTIES FOR LAPTOPS AND UP */

@media screen and (min-width: 992px) {

    /* NAVIGATION BAR */
    .logo-asso {
        width: 75px;
    }

    /* HEADER */
    header {
        position: relative;
        top: 111px;
        height: 500px;
    }

    h1 {
        font-size: 3rem;
        padding-top: 0;
    }

    /* MAIN BLOCK OF PAGES */
    main {
        position: relative;
        top: 130px;
    }

    h2 {
        font-size: 1.4rem;
    }

    /* index page */
    .hikers1 {
        float: right;
        width: 300px;
        height: auto;
        margin: 15px;
    }

    .hikers2 {
        display: none;
    }

    .boat {
        float: left;
        width: 400px;
        height: auto;
        margin: 15px;
    }

    /* guide page */
    .compass_wrap {
        position: relative;
        overflow: hidden;
    }

    .compass_wrap img {
        position: absolute;
        top: 0;
        right: 3.1px;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        opacity: 0.1;
    }

    .compass_wrap p {
        position: relative;
        z-index: 2;
    }

    /* FOOTER */
    footer {
        position: relative;
        top: 150px;
    }

    footer>div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}